body{
	background-image: url('../images/thesimpsons.jpg');
	margin:0;
    padding:0;
    background-size: auto
}
*{
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
	margin:30px 0px -15px;
}

.quiz_wrapper{
	height: 400px;
	width: 650px;
	background-color: white;
	margin:50px auto;
	border-radius: 8px;
	padding: 30px;
}

.quiz_wrapper .question{
	padding: 15px;
	background-color:#673ab7;
	border-radius: 8px;
	color:yellow;
	font-size:20px;
	float: left;
	width: 100%;

}